/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* COMMON */
/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* Header */
header {
  background-color: #efecec;
}

h1 {
  padding: 20px;
}

/* BUTTONS */
button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #3b3bfb;
  color: #ffffff;
  border-radius: 10px;
  margin: 40px 0;
}

button.active {
  background-color: #ffd700;
  color: #000000;
}

/* CARD */
.card {
  border: 1px solid #d0cfcf;
  padding: 20px;
  border-radius: 10px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  line-height: 1.5;
}